<%= image_tag "pokemon_banner.png", style: 'background-size: cover; width: 100%; height: 100%' %>


  <div class="row mt-3 mx-2 justify-content-center postion-relative">
    <div class="search_poke ">
      <%= form_tag pokemons_path, style:"display: block ruby", method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a pokemon"
      %>
      <%= submit_tag "Search", class:"btn-ghost" %>
        <%= link_to pokemons_path do %>
          <%= image_tag "Reset", :class => "reset"%>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="row mt-4 w-100 mx-0">
  <% @pokemons_list = @pokemons.select { |pokemon| pokemon.user != current_user } %>
  <% @pokemons_list.each do |pokemon| %>
    <div class="col-3 mb-3 px-3">
      <%= link_to pokemon_path(pokemon), id: "card-link" do %>
        <div class="column bg-white h-100" id="card">
          <% if pokemon.photo.attached? %>
            <%= cl_image_tag pokemon.photo.key, height: 300, class: "img-card-top" %>
          <% else%>
            <%= "METTRE UNE IMAGE" %>
          <% end%>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="center" id="pokename"> <%= pokemon.name %></li>
            <li class="list-group-item"> <strong>Description:</strong> <%= pokemon.description %> </li>
            <li class="list-group-item"> Special: <%= pokemon.special_capacity %> </li>
            <li class="list-group-item"> Category: <%= pokemon.category %></li>
            <li class="list-group-item">Rating: <%= pokemon.rating %></li>
          </ul>
        </div>
       <% end %>
    </div>
  <% end %>
</div>
<%# <div class="d-flex justify-content"> %>
  <%# <div class="container"> %>
    <%# <img class="pika_gif" src="https://i.pinimg.com/originals/ab/be/28/abbe28a943ed44fcd98452687f7c46c9.gif"> %>
  <%# </div> %>
  <div class="container">
    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%# <img class="pika_gif" src="https://i.pinimg.com/originals/ab/be/28/abbe28a943ed44fcd98452687f7c46c9.gif"> %>
  </div>
  <%# <div class="d-flex space-between">
    <img class="pika_gif" src="https://i.pinimg.com/originals/ab/be/28/abbe28a943ed44fcd98452687f7c46c9.gif">
    <img class="pika_gif" src="https://i.pinimg.com/originals/ab/be/28/abbe28a943ed44fcd98452687f7c46c9.gif">
  </div> %>
</div>
<div class="container">
  <div class="row">
    <img class="pika2", src="https://i.pinimg.com/originals/ab/be/28/abbe28a943ed44fcd98452687f7c46c9.gif">
  </div>
</div>
    <%# <img class="pika_gif" src="https://c.tenor.com/74l5y1hUdtwAAAAi/pokemon.gif"> %>
<%# </div> %>
